<!DOCTYPE html>
<html>
    <%- include ("../partials/head.ejs") %>
<body>
  <article>
    <a href="/">Terug naar de vragenlijst</a>
  <h1>Form submitted successfully!</h1>
  <ul>
    <li>Naam: <%= name %></li>
    <li>Student nummer: <%= studentnumber %></li>
    <li>Email: <%= email %></li>
  </ul>

  <% courseDetails.forEach(function(item) { %>
    <h2><%= item.courseName %></h2>
    <ul>
      <li>Docenten: <%= item.teacherName %></li>
      <li>Weken: <%= item.courseWeeks %></li>
      <li>Moeilijkheid: <%= item.teachingMaterial %></li>
      <li>Duidelijkheid: <%= item.explanation %></li>
      <li>Begrip: <%= item.understanding %></li>
    </ul>
  <% }); %>
  </article>
</body>
</html>